.form-group {
    width: 300px; /* Matched the width to the buttons */
    display: flex; /* Ensures labels and inputs stay side by side */
    align-items: center;
}


.form-group label {
    width: 125px; /* Matched the width to the buttons */
    font-size: 30px;
    border-radius: 25px;
    margin-right: 15px;/* Centered the buttons with a margin */
    font-family: Sail-Regular;
    transition: color .3s ease;
}